.alt-header {
  display: flex;
  align-items: center;
  padding: var(--horizontal-space);
  margin-bottom: 15px;
  box-sizing: border-box;
}
.alt-header div {
  width: 33%;
}
.alt-header div:first-child {
  margin-right: auto;
}
.alt-header__title {
  text-align: center;
  font-size: 25px;
  font-weight: 600;
}
.alt-header div:last-child {
  display: flex;
  justify-content: flex-end;
}
.alt-header div:last-child span:last-child {
  margin-left: 20px;
}
