.nav {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: var(--grey);
  padding: 20px 50px;
  box-sizing: border-box;
  border-top: 1px solid rgba(0, 0, 0, 0.144);
}
.nav__list {
  display: flex;
  justify-content: space-between;
}
.nav__link {
  position: relative;
  color: var(--darkgrey);
}
.nav__notification {
  position: absolute;
  left: 15px;
  bottom: 15px;
}
.nav__dot {
  position: absolute;
  background-color: tomato;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  left: 30px;
  bottom: 28px;
}
